@import '../variables';

.grouped_courses {
  &__body {
    border: 1px solid $primary;

    .grouped-course-item {
      &:last-child {
        margin-bottom: 0 !important;
      }

      &__label {

      }

      &__time {
        flex-basis: 120px;
      }

      &__price {
        flex-basis: 120px;
      }

      &.active {
        .grouped-course-item__label {
          background: $success;
          color: $light;
        }
      }
    }


  }

  .grouped_courses__body .pamelding {
    max-width: 300px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    line-height: 30px;
    transition: .2s;
    margin: 0 auto;
  }
}


.practice-type-message {
  .show {
    margin: 15px 0;
  }
}

body.wp-admin {
  .custom-row {
    .row-block {
      .block-editor-inner-blocks {
        & > .block-editor-block-list__layout {
          &:not([data-is-drop-zone="true"]) {
            display: grid;
            gap: 15px;
            padding: 15px;
            border: 1px dashed;
          }
        }
      }


      .block-editor-block-list__layout {
        & > .block-editor-block-list__block.wp-block.wp-block-acf-column {
          border: 1px dashed gray;
          height: 100%;
          width: 100%;
          margin: 0;
        }
      }


    }
  }
}

body:not(.wp-admin) .custom-row {
  box-sizing: border-box;

  .row-block {
    .col-block {
      figure {
        text-align: center;
      }
    }

    @media(max-width: 768px) {
      grid-template-columns: 1fr !important;
    }

    @media(max-width: 500px){
      margin: auto;
    }
  }
}



