.about-us__header .subheader__container {
  padding: 33px; }
  .about-us__header .subheader__container h1 {
    font-weight: 400;
    font-size: 56.83px;
    line-height: 77px;
    margin: 0; }
    @media (max-width: 1000px) {
      .about-us__header .subheader__container h1 {
        font-size: 45px; } }
    @media (max-width: 768px) {
      .about-us__header .subheader__container h1 {
        font-size: 35px; } }
    @media (max-width: 500px) {
      .about-us__header .subheader__container h1 {
        font-size: 28px;
        line-height: 50px; } }
  .about-us__header .subheader__container h3 {
    max-width: 460px;
    font-weight: 400;
    font-size: 23.99px;
    line-height: 33px;
    margin: 40px auto 0; }
    @media (max-width: 1000px) {
      .about-us__header .subheader__container h3 {
        font-size: 20px;
        margin: 20px auto 0; } }
    @media (max-width: 768px) {
      .about-us__header .subheader__container h3 {
        font-size: 18px;
        margin: 0 auto 0; } }
    @media (max-width: 500px) {
      .about-us__header .subheader__container h3 {
        margin: 20px auto 0; } }
.about-us__content {
  padding: 45px 0 1px; }
  .about-us__content .grid-7-3 {
    grid-template-columns: calc(70% - 60px) 30%;
    grid-column-gap: 60px; }
    @media (max-width: 1000px) {
      .about-us__content .grid-7-3 {
        grid-template-columns: calc(70% - 50px) calc(30% + 30px);
        grid-column-gap: 20px; } }
    @media (max-width: 768px) {
      .about-us__content .grid-7-3 {
        grid-template-columns: 1fr; } }
  @media (max-width: 768px) {
    .about-us__content .right-sidebar {
      display: none; } }
  .about-us__content .right-sidebar h2 {
    font-size: 28px; }
    @media (max-width: 1100px) {
      .about-us__content .right-sidebar h2 {
        font-size: 22px; } }
  .about-us__content .right-sidebar__posts {
    display: grid;
    gap: 40px; }
    .about-us__content .right-sidebar__posts .post-card {
      box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.2); }
      .about-us__content .right-sidebar__posts .post-card__content .content-wrapper {
        padding: 30px; }
        @media (max-width: 1000px) {
          .about-us__content .right-sidebar__posts .post-card__content .content-wrapper {
            padding: 15px; } }
        .about-us__content .right-sidebar__posts .post-card__content .content-wrapper h3 {
          font-size: 23.99px;
          margin: 0; }
        .about-us__content .right-sidebar__posts .post-card__content .content-wrapper p {
          font-size: 16px;
          line-height: 24px;
          margin-top: 23px;
          margin-bottom: 0; }
      .about-us__content .right-sidebar__posts .post-card__link {
        padding: 0 30px 30px 30px; }
        @media (max-width: 1000px) {
          .about-us__content .right-sidebar__posts .post-card__link {
            padding: 0 15px 30px 15px; } }
  .about-us__content .right-sidebar .more_posts {
    max-width: max-content;
    margin: 20px auto 0; }
  .about-us__content .our-team {
    margin-top: 26px;
    padding-top: 28px; }
    .about-us__content .our-team .photos-grid {
      display: grid;
      gap: 75px;
      grid-template-columns: 1fr 1fr;
      padding: 53px 0 23px; }
      @media (max-width: 960px) {
        .about-us__content .our-team .photos-grid {
          grid-template-columns: 1fr; } }
      @media (max-width: 1200px) {
        .about-us__content .our-team .photos-grid {
          gap: 50px; } }
      .about-us__content .our-team .photos-grid__item {
        display: flex;
        align-items: center;
        gap: 38px; }
        @media (max-width: 1200px) {
          .about-us__content .our-team .photos-grid__item {
            gap: 30px; } }
        @media (max-width: 500px) {
          .about-us__content .our-team .photos-grid__item {
            flex-direction: column;
            text-align: center; } }
        .about-us__content .our-team .photos-grid__item h3 {
          font-size: 24px; }
          @media (max-width: 1200px) {
            .about-us__content .our-team .photos-grid__item h3 {
              font-size: 18px; } }

/*# sourceMappingURL=about_us.css.map */
